@font-face {
  font-family: "iconfont"; /* Project id 2866830 */
  src: url('//at.alicdn.com/t/font_2866830_gxo32ej9eai.woff2?t=1634178380864') format('woff2'),
       url('//at.alicdn.com/t/font_2866830_gxo32ej9eai.woff?t=1634178380864') format('woff'),
       url('//at.alicdn.com/t/font_2866830_gxo32ej9eai.ttf?t=1634178380864') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e638";
}

.icon-zhihu:before {
  content: "\e62c";
}

.icon-github:before {
  content: "\e632";
}

.icon--bilibili:before {
  content: "\e65b";
}

